# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.ana_perf_env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
*.egg-info/

# Outputs
notebooks/outputs/*
!notebooks/outputs/*.png
!notebooks/outputs/.gitkeep